*{
    color:white;
    overflow-x: hidden;
}
.s1{
    background-color: #010f1f;
    
}
.s2{
    background-color:  #42036b;
}
.s3{
    background-color: #010f1f;
}
.s4{
    
    background-color: #b98f10;
}
.s5{
    background-color: #010f1f;
    
}