*{
    margin:0;
}
#section1{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.PDP {
    position: relative;
    max-height: 50vh;
    border-radius: 50%;
    z-index: 6;
}
.PDPbloc{
    position: relative;
    z-index: 3;
    padding:6%;
    margin-right: 8%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

header a{
    font-size: 4vh;
    text-decoration: none;
    padding-right: 3%;
}

.links{ 
    overflow: hidden;
    white-space: nowrap;  
    width:70%; 
    text-align: right;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
}

.links a{
    transition: 0.5s ease-in-out ;
}

.links .yellowlink:hover{
    color : #dba607;
}

.links .purplelink:hover{
    color : #6b07ad;
}


.motif1{
    background-color: #6b07ad;
    height: 2%;
    position: absolute;
}

.kiwi_logo{
    margin: 2vh;
    height:15vh;

}
.ombre_cercle{
    position: absolute;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    background-color: #6b07ad;
    z-index: 3;
    border : solid 2px #31024f;
    transform: translateY(-99%) translateX(1%);
}

.ombre_cercle2{
    position: absolute;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    /* top:27vh;
    right: 23vh; */
    background-color: #dba607;
    border : solid 2px #523e02;
    transform: translateY(-97%) translateX(2%);
    z-index: 2;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 10vh;
}

.main_title{
    position: relative;
    max-width: 100vh;
    z-index: 5;
}

.blocprez{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*
    Ombres derrière nom
*/
.hibloc{
    position: relative;
    z-index: 3;
    margin-left: 4%;
    padding: 2%;
}
.ombre{
    position: absolute;
    z-index: 4;
    font-family: 'Inconsolata', monospace;
    font-size: 10vh;
    font-weight: bold;
}
.ombre1{
    color: #6b07ad;
    transform: translateY(105%) translateX(46%);
}
.ombre2{
    color: #dba607;
    transform: translateY(205%) translateX(0.5%);
}

.bg_shape{
    position: absolute;
    height: 200vh;
    top:-10vh;
    left:30vh;
    z-index: 1;
}

/*Palette*/
/* 
#c1{
    background-color: white;
}
#c2{
    background-color: #dba607;
    left: 50px;
}
#c3{
    background-color: #6b07ad;
    left: 100px;
} */